@font-face {
    font-family: Pantasia;
    src: url(assets/fonts/PantasiaNovusBeta6-RegularWeb.woff),
        url(assets/fonts/PantasiaNovusBeta6-RegularWeb.woff2),
        url(assets/fonts/PantasiaNovusBeta6-RegularWeb.ttf);
}

body {
    margin: 0 auto;
}

.bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    transition: opacity 0.5s;
}

.header {
    position: relative;
    pointer-events: none;
    height: 180vh;
}

.header img {
    position: absolute;
    bottom: 85vh;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
}

.contact {
    position: fixed;
    left: 0;
    bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.contact a {
    color: #fff;
    font-family: Pantasia;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
}

.circle {
    height: 0;
    overflow: hidden;
    transition: height 0.5s, padding 0.5s;
    z-index: 1;
}

.circle a {
    padding: 20px;
}

.circle.reveal {
    height: 57px;
}

.circle-bg {
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100px;
    position: absolute;
    display: none;
    top: -40px;
}

.circle:hover + .circle-bg {
    display: block;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media screen and (min-width: 53em) {
    video {
        object-fit: fill;
    }

    .contact .text {
        font-size: 30px;
    }

    .header {
        height: 150vh;
    }

    .header img {
        bottom: 36%;
    }

    .circle-bg {
        height: 75px;
        left: 10px;
        top: -20px;
    }
}
